
body {
  font-family: $theme-body-font;
  font-size: 16px;
  background-color: $themeColor-Light;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $theme-header-font;
  text-transform: uppercase;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.17rem;}
h4 {font-size: 1rem;}
h5 {font-size: 0.83rem;}

a {
  font-family: $theme-header-font;
  text-decoration: none;
  color: $wd-primary-color;
  transition: all .25s;

  &:hover {
    color: shade($wd-primary-color, 50%);
  }
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.flex-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section:first-of-type {
  padding-top: 4.125rem; //added padding due to fixed header

  @media screen and (max-width: 768px) {
    padding-top: 6.125rem //added padding due to fixed header
  }
}