.hero-image-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url('/static/images/wd-hero-image.jpg');
    background-size: cover;
    min-height: 37.5rem;

    @media screen and (max-width: 768px) {
        justify-content: center;
    }
}

.hero-image-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 12.5rem;
    position: relative;
    color: $wd-white;
    margin-right: 2.5rem;
    z-index: 200;

    h1:before {
        content: '';
        display: inline-block;
        width: 4.375rem;
        height: 0.3125rem;
        position: absolute;
        top: -1.5rem;
        background: $wd-accent-color-1;

        @media screen and (max-width: 768px) {
            transform: translateX(-50%);
            margin-left: 50%;
        }
    }

    p {
        max-width: 28rem;
        line-height: 1.15;

        @media screen and (max-width: 768px) {
            margin: 0 auto;
        }
    }

    button {
        max-width: 15rem;
    }

    @media screen and (max-width: 768px) {
        margin: 0;
        text-align: center;
        align-items: center;
    }
}

.overlay {
    position: absolute;
    top: 4.125rem;
    left: 0;
    width: 100%;
    min-height: 37.5rem;
    background-color: black;
    opacity: 0.6;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        top: 6.125rem;
    }
}