.intro-header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $wd-light-gray;
    min-height: 25rem;
    padding-top: 4.125rem;
    border-bottom: 2px solid lightgray;

    &__project {
      min-height: 15rem;
      flex-direction: column;

      & > button {
        margin-top: 1.5rem;
      }
    }
}

.intro-header {
    text-align: center;

    h1 {
        font-size: 2.75rem;
        margin-bottom: 0.35rem;
    }

    img {
        width: 10rem;
        border-radius: 50%;
        border: 0.1875rem solid $wd-primary-color;
    }
}

.demo a {
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }

  #section10 a {
    padding-top: 60px;
  }
  #section10 a span {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid lightgray;
    border-radius: 50px;
    box-sizing: border-box;
  }
  #section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: lightgray;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }