.projects-section {
    background-color: $wd-primary-color;

    h2 {
        color: $wd-white;
        text-align: center;
        margin-bottom: -1rem;
    }

    h4 {
        color: $wd-white;
        margin-top: 0.25rem;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: 960px) {
            flex-direction: column;
            align-items: center;
        }
    }

    li {
        width: 30%;
        margin-top: 2rem;
        cursor: pointer;

        @media screen and (max-width: 960px) {
            width: 80%;
            margin-bottom: 2rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                    0 2px 2px rgba(0,0,0,0.11), 
                    0 4px 4px rgba(0,0,0,0.11), 
                    0 8px 8px rgba(0,0,0,0.11), 
                    0 16px 16px rgba(0,0,0,0.11), 
                    0 32px 32px rgba(0,0,0,0.11);
    }

    .wrap {
        max-width: 960px;
    }
}

.project-detail-section {
    display: flex;

    &.wrap {
        max-width: 1440px;
        margin: 0 auto;
        padding-left: 1.5em;
        padding-right: 1.5em;

        @media screen and (max-width: 1081px) {
            flex-direction: column;
        }
    }

    .image {
        margin-bottom: 2rem;
    }

    .image,
    .description {
        flex: 1;
        @media screen and (max-width: 1081px) {
            margin: 0 auto 1rem;
        }
    }

    .image img {
        max-width: 100%;
        height: auto;
    }

    .description {
        line-height: 1.5625rem;
        margin-left: 1.5rem;
        margin-top: 2.5rem;
        @media screen and (max-width: 960px) {
            margin: 0;
        }
    }
}