// Font
$theme-font: 100% verdana, sans-serif;

//Theme Colors
$themeColor-Light: #fff;
$themeColor-Dark: #000;

//Website Color Palette
$wd-black: #252525;
$wd-white: #FFFFFF;
$wd-off-white: #F7F0F0;
$wd-orange: #FA5F1A;