// Font
$theme-font: 100% verdana, sans-serif;
$theme-body-font: 'Cardo', sans-serif;
$theme-header-font: 'Oswald', sans-serif;

//Website Color Palette
$wd-primary-color: #0C2354;
// $wd-secondary-color:
$wd-accent-color-1: #A17000;
$wd-black: #252525;
$wd-white: #FFFFFF;
$wd-off-white: #F7F0F0;

$themeColor-Light: $wd-off-white;
$themeColor-Dark: $wd-black;

// Areas for Dominant Colors
//-Logo
//-Menu Tabs
//-Call to Action Buttons
//-Highlight Important Information
//-Title & Headlines
//-Buttons

// Areas for Accent Colors
//-current menu tab
//-subtitle
//-highlight secondary information